.recipe h1{
    text-align: center;
    color: rgb(230, 59, 74);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-container, .recipe-container2{
    margin: 4vh 5vh;
    background-color: rgb(247, 219, 127);
    box-shadow: 0px 10px 4px rgba(0,0,0,0.1);
    border-radius: 15px;
    position: relative;
}
.recipe-container{
    width: 40vh;
    min-height: 50vh;

}
.recipe-container2{
    margin: 20vh 10vh;
}

.recipe-desc, .recipe-info{
    margin: 2vh 5vh;
}

.recipe-desc{
    text-align: center;

}

.recipe-desc p{
    min-height: 200px;
}

.recipe-info h3{
    text-align: center;
    color: rgb(230, 59, 74);
}

.recipe-desc p{
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 10;

}

input{
    border: none;
    padding: 5px;
    margin-right: 5px;
    border-radius: 15px;
}
.recipe-btn button{
    position: relative;
    overflow: hidden;
    
}
.recipe-btn button::before{
    position: absolute;
    content: "";
    margin: -100px -8px;
    width: 30px;
    height: 260px;
    background-color: white;
    transform: rotate(60deg);

}

.recipe-btn button:hover::before{
    animation: animate 2s linear infinite;
  
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.recipe-btn button::after{
    position: absolute;
    padding-top: 6px;
    content: "Lets Cook!";
    inset: 3px;
    background-color: rgb(230, 59, 74);
    border-radius: 15px;


}
button{
    background-color: rgb(230, 59, 74);
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
}

.recipe-btn button{
    margin: 2vh 5vh;
    width: 40%;
    background-color: rgb(230, 59, 74);
    color: white;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 4px rgba(0,0,0,0.1);
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s linear;

}

.recipe{
    padding: 6px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* box-shadow: 0px 10px 4px rgba(0,0,0,0.1); */
    border-radius: 15px;
    /* border: 4px blue solid; */
}

.small-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul{
    padding-left: 10px;
}

.popup{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49,49,49,0.8);
    z-index: 10;
}

.close-btn button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(230, 59, 74);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s linear;
}

.instruct-desc ul{
    list-style-type: value;
    
}