@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
}
.logo-name{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
}

.App{
  background-image: url("../public/bg1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: auto;
}

.search-bar{
  height: 30px;
  width: 300px;
}

.search-button{
  height: 34px;
}

.recipe-list{
  /* border: 4px yellow solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}